.cards{
  background: rgba(184, 184, 184, 0.335);
  border: 1px solid white;
  box-shadow: 0 0 3px rgb(99, 99, 102), 0 0 6px rgb(0, 0, 0),
    0 0 9px rgb(106, 106, 108), 0 0 12px rgb(119, 118, 119),
    0 0 15px rgb(77, 77, 78), 0 0 18px rgb(97, 97, 97);
    width: 450px;
  
}

.img{
  width: 100%;
  height: 250px;
  
  

}

.btn:hover{

  
  transform: scale(1.10);
  transition: all 0.2s;
  z-index: 1000;
  position: relative;
}