.container{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background:  #d0d3d4 ; 
    height: auto;
   
}

.container2{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: #ecf0f1;
    
    height: 100%;
    width: auto;
    
   
   
        
        
      
        /* Set a specific height */
      
      
        /* Create the parallax scrolling effect */
       
    
}

.containerGrid{
    border-style:double;
    border-color: #d8a602;
    border-width: 5px;
    box-shadow: 0 0 3px rgb(190, 190, 190), 0 0 6px rgb(193, 193, 193),
    0 0 9px rgb(225, 174, 7), 0 0 12px rgb(119, 118, 119),
    0 0 15px rgb(77, 77, 78), 0 0 18px rgb(225, 174, 7);
}

.cardImg{
    border-style:double;
    border-color: #d8a602;
    border-width: 5px;
    box-shadow: 0 0 3px rgb(190, 190, 190), 0 0 6px rgb(193, 193, 193),
    0 0 9px rgb(225, 174, 7), 0 0 12px rgb(119, 118, 119),
    0 0 15px rgb(77, 77, 78), 0 0 18px rgb(225, 174, 7);
    margin-top: 10px;
}
.img{
    width: 850px;
    height: 650px;
}

.ticketContainer{
    
    width: 100%;
    display: flex;
    align-self: center;
    background: rgba(148, 147, 147, 0.323);
    margin-top: 20px;
    
}

.ticketContainer h1{
    font-size: 23px;
}

.ticketContainerBuy{
    width: 100%;
    display: flex;
    align-self: center;

    margin-top: 20px;
}




.captionContainer{
    margin-top: 55px;
}

.caption{
    margin-top: 60px;
}

.caption h2{
    font-size: 29px;
    font-weight: bolder;
}

.caption p{
    font-size: 18px;
    font-weight: bolder;
}

.containerDate{
    margin-top: 60px;
}

.caption h4 {
    font-size: 24px;
    font-weight: bolder;
  
}

.caption h5{
    font-size: 24px;
    font-weight: bolder;
}