.container{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background:  #d0d3d4 ; 
    height: auto;
}

.container2{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: #ecf0f1;
    
    height: 100%;
    width: auto;
    
   
   
        
        
      
        /* Set a specific height */
      
      
        /* Create the parallax scrolling effect */
       
    
}

.img{
    width: 850px;
    height: 650px;
}

.ticketContainer{
    
    width: 100%;
    display: flex;
    align-self: center;
    background: rgba(148, 147, 147, 0.323);
    margin-top: 20px;
    
}

.ticketContainer h1{
    font-size: 23px;
}


.captionContainer{
    margin-top: 55px;
}

.caption{
    margin-top: 60px;
}

.caption h2{
    font-size: 29px;
    font-weight: bolder;
}

.caption p{
    font-size: 18px;
    font-weight: bolder;
}

.containerDate{
    margin-top: 60px;
}

.caption h4 {
    font-size: 24px;
    font-weight: bolder;
  
}

.caption h5{
    font-size: 24px;
    font-weight: bolder;
}