body{
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
  
}

.cards{
    display: grid;
  
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 450px);
    padding: 45px;
    gap: 35px;
    margin-top: 35px;
    text-decoration: none;

   
  
}