
.nav {
	position:sticky;
	top:0;
    z-index: 1000;
	color:aliceblue
}
.title{
	color: white;
}

#navbarScrollingDropdown{
	color: white;
}

.title{
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: rgb(226, 181, 0);
	font-weight: bold;
	font-size: 27px;
}